@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}
html, body, #root {
  height: 100%;
}

@keyframes shimmer {
  0%, 100% {
    opacity: 1;
    filter: brightness(1);
  }
  50% {
    opacity: 0.9;
    filter: brightness(1.2);
  }
}
